@charset "UTF-8";
html{
    font-size: 0.5208vw;
    scroll-behavior: smooth;
}

*:focus {
    outline: none;
}

body, h1, h2, h3, h4, h5, p, ul{
    margin: 0;
    padding: 0;
}

body{
    font-family: "メイリオ", 'Meiryo', "Hiragino Sans", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    overflow-x: hidden;
    color: #333333;
}

ul{
    list-style: none;
}

h1{
    line-height: 1;
}

a{
    text-decoration: none;
}

p{
    font-size: 2.2rem;
}

.pc_only{
    display: block;
}

.pc_flex{
    display: flex;
}

.pc_inline{
    display: inline;
}

.sp_flex{
    display: none;
}

.sp_inline{
    display: none;
}

.sp_only{
    display: none;
}

.mintyo{
    font-family: '源ノ明朝',"游明朝", YuMincho, "Hiragino Mincho ProN", "ヒラギノ明朝 ProN", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
}

/* header */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 .3rem .6rem rgba(0, 0, 0, 16%);
    z-index: 100;
}

header h1{
    margin-left: 13rem;
    font-size: 2.9rem;
    font-weight: bold;
    letter-spacing: .5rem;
}

header h1 a{
    color: #101010;
    transition: all .2s ease-in-out;
}

header h1 a:hover{
    opacity: .5;
    transition: all .3s ease-in-out;
}

header nav{
    display: flex;
    justify-content: center;
    align-items: center;
}

header nav > a{
    font-size: 1.8rem;
    font-weight: normal;
    color: white;
    background: #19A8D4;
    width: 21rem;
    text-align: center;
    padding: 1.6rem 0;
    line-height: 1.2;
}

header nav > a:hover{
    box-shadow: inset 0 .3rem .6rem rgba(0, 0, 0, 50%);
}

header nav > a img{
    height: 1.05rem;
}

header nav ul{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

header nav ul li a{
    text-align: center;
    display: inline-block;
    font-size: 1.8rem;
    font-weight: normal;
    color: #101010;
    margin-right: 6rem;
    transition: all .2s ease-in-out;
}

header nav ul li a:hover{
    opacity: .3;
    transition: all .3s ease-in-out;
}

header nav ul li a img{
    height: 1.4rem;
}

main{
    margin-top: 7.5rem;
}

/* footer */
footer{
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .wrap{
    width: 50%;
    background: #515151;
    height: 54.7rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

footer .wrap::before{
    position: absolute;
    content: "";
    width: 50.6rem;
    height: 13.677rem;
    top: 2.88rem;
    left: 0;
    background: url("../img/footer_bg.svg") no-repeat center center/contain;
}

footer .wrap h1{
    font-size: 2.8rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
    letter-spacing: .5rem;
}

footer .wrap p{
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 4.5rem;
}

footer .wrap h2{
    font-size: 2.4rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
}

footer .wrap > a{
    font-size: 2.5rem;
    font-weight: bold;
    color: white;
    margin-bottom: 6.66rem;
}

footer .wrap > a img{
    width: 3.5rem;
    margin-right: 1.6rem;
    vertical-align: middle;
}

footer .wrap ul{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.97rem;
}

footer .wrap ul li{
    padding-right: 2.63rem;
    margin-right: 2.63rem;
    border-right: solid .1rem #FFFFFF;
}

footer .wrap ul li:last-child{
    border-right: none;
}

footer .wrap ul li a{
    font-size: 2.4rem;
    color: white;
    font-weight: normal;
}

footer .wrap .copy{
    font-size: 1.8rem;
    font-weight: normal;
    margin-bottom: 0;
}

footer .map{
    width: 50%;
    height: 54.7rem;
}

@media screen and (max-width: 767px){
    html{
        font-size: 2.667vw;
    }

    p{
        font-size: 1.4rem;
    }

    .pc_only{
        display: none !important;
    }
    
    .sp_only{
        display: block;
    }

    .pc_flex{
        display: none !important;
    }

    .sp_flex{
        display: flex;
    }

    .pc_inline{
        display: none;
    }

    .sp_inline{
        display: inline;
    }

    /* header */
    header{
        padding: 1.5rem;
    }

    header h1{
        font-size: 1.4rem;
        margin-left: 2.7rem;
    }

    #hamburger{
        width: 1.473rem;
        height: 3.01rem;
        transition: all 1s ease-out;
        position: relative;
        z-index: 1;
    }

    #nav{
        padding: 0;
        position: fixed;
        width: 100%;
        height: 100vh;
        right: -100%;
        top:  0;
        background: url("../img/common/hamburger_bg.jpg") no-repeat center center/cover;
        transition: all .7s ease-in-out;
        z-index: 1;
        opacity: 0;
        overflow-y: scroll;
        box-shadow: inset 0 .3rem .6rem rgba(0, 0, 0, 16%);
    }

    /* main */
    main{
        margin-top: 6rem;
    }
}